{% extends 'app/index.html' %}
{% block content %}
{% load static %}

<style>
  /* Adjusting image styles for better display in carousel */
  .carousel-item img {
    padding: 5vh 0 0 20vh;
    max-width: 90%;
    max-height: 80vh; /* Adjust height as needed */
    object-fit: cover; 
  }
</style>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'image/coffee.png' %}" class="d-block w-100" alt="Coffee">
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/c1.png' %}" class="d-block w-100" alt="Image 1">
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/c2.png' %}" class="d-block w-100" alt="Image 2">
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/c3.png' %}" class="d-block w-100" alt="Image 3">
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/c4.png' %}" class="d-block w-100" alt="Image 4">
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/c5.png' %}" class="d-block w-100" alt="Image 5">
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/c6.png' %}" class="d-block w-100" alt="Image 6">
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/c7.png' %}" class="d-block w-100" alt="Image 7">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}
